@import 'tailwindcss';

@theme {
  --color-primary: #7a001f;
  --color-text: #333333;
  --color-white: #ffffff;
  --color-subtext: #666666;
  --color-lightgray: #e0e0e0;
  --color-gray: #aaaaaa;
  --color-error: #dc3545;
  --color-hover: #66001a;
  --color-light: #7a001f1a;
}

@layer base {
  body {
    color: #333;
    font-family:
      -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard Variable', Pretendard,
      Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  p,
  span,
  a,
  li {
    color: inherit;
  }

  img {
    @apply object-cover w-full h-full;
  }
}

@layer components {
  .title {
    @apply text-[22px] font-bold;
  }

  .sub-title {
    @apply text-lg font-semibold;
  }

  .label {
    @apply text-sm font-medium;
  }

  .sub {
    @apply text-xs;
  }
}

.react-datepicker {
  @apply border-lightgray;
}

.react-datepicker__header {
  @apply bg-white border-lightgray;
}

.react-datepicker__day.react-datepicker__day--selected {
  @apply text-white bg-primary;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-light;
}

.react-datepicker__day {
  @apply text-text;
}

.react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 28px;
}
